html { overflow-y:scroll; }

*{
    box-sizing: border-box;
  }

  body {
    margin :0;
    width:100vw;
    height:100%;
    background: #CEC4BC;
  }

  nav{
    width:80px;
    background-color: #FFFFFF;
    border-right:1px solid #FFFFFF;

    position:fixed;
    height:100%
  }


  nav h2{
    width: 80px;
    height: 95%;
    left: 50%;
    top: 633.11px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 100;
    font-size: 25px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    transform: rotate(-90deg);
  }

  header{
    width:100%;
  }

  .card3 h2{
    position: fixed;
    width: 238px;
    height: 63px;
    left: 140px;
    top: -15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color:black;
  }

  .card3 h1{
    position: fixed;
    width: 238px;
    height: 63px;
    left: 320px;
    top: 7px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 42px;
    display: flex;
    align-items: center;
    text-align: center;
    color:black;
  }

  section {   
    float: left;
    width: 100%;
    background-color: #CEC4BC;
  }

  footer{
    float:left;
    width:100%;
    background-color: #CEC4BC;
  }

  .rectangle {
    box-sizing: border-box;
    box-align:center;

    position: fixed;
    width: 250px;
    height:40%;
    left:14.5%;
    top: 10%;

    border: 1px solid #000000;
  }

  .card2.rectangle {
    box-sizing: border-box;
    box-align:center;

    position: fixed;
    width: 250px;
    height:40%;
    left:14.5%;
    top: 10%;

    border: 1px solid #000000;
  }

  .rectangle h1{
    position: absolute; 
    width:100%;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    align-items: center;
    color:#403831;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .rectangle h2{
    position: absolute; 
    width:100%;
    top:14%;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    align-items: center;
    color:#403831;
  }

  .card {
    background-color: #CEC4BC;
    width:100%;
    height:45%;
    margin:0;
  }

  .card2{
    background-color: #CEC4BC;
    width:100%;
    height:45%;
    margin:0;
  }

  .card3{
    background-color: #CEC4BC;
    width:100%;
    height:10%;
    margin:0;
  }

  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    section, aside {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    nav a {
      float: none;
      width: 100%;
    }
  }

  /* The side navigation menu */
  .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 300px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  nav
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #224932;
    font-size: 16px;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

    /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 14px;}
    }