* {
    box-sizing: border-box;
  }
  body{
    margin :0;
    width:100vw;
    height:100vh;
    background-color: #224932;
  }
  nav{
      width:65px;
      background-color: #FFFFFF;
      border-right:1px solid #FFFFFF;
  
      position:fixed;
      height:100%
    }
  
   
    nav h2{
      width: 65px;
      height: 95%;
      left: 22.58px;
      top: 633.11px;
  
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-style: normal;
      font-weight: 100;
      font-size: 35px;
      line-height: 48px;
      display: flex;
      align-items: center;
      text-align: center;
  
      color: #000000;
  
      transform: rotate(-90deg);
    }
    .rectangle {
      box-sizing: border-box;
      box-align:center;
      position: absolute;
      width: 90%;
      height:85%;
      left:120px ;
      top: 110px;
      border: 1px solid #FFFFFF;
    }
    h2 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 30px;
      line-height: 36.31px;
      display: flex;
      align-items: center;
      text-align: center;
  
      color: #FFFFFF;
    }
    h4{

        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24.2px;
        display: flex;
        align-items: center;
    
        color: #FFFFFF;
      }
      h5{
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24.2px;
        display: flex;
        align-items: center;
    
        color: #FFFFFF;
      }
      h3{
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24.2px;
        display: flex;
        align-items: center;
    
        color: #FFFFFF;
      }
      .login-form-field {
        width: 300px;
        padding: 15px 0;
        margin: 10px 0;
        border: none;
        border-bottom:none;
        outline: none;
        border-radius: 5px;
        box-shadow: 0px 4px 4px 0px #00000040;
        background-color: white;
        color:black;
        font-size: 20px;
    }
    .container{
      position:absolute;
      top:111px;
      left:835px;
      width:100% ;
      height:100%;
      
    }
    h5{
      position:absolute;
      width: 65px;
      height: 95%;
      left: 126px;
      top: 896px;
    
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-style: normal;
      font-weight: 100;
      font-size: 35px;
      line-height: 48px;
      display: outside;
      align-items: center;
      text-align: center;
    
      color:#FFFFFF;
    
     
    }
    a:link {
      color :#FFFFFF;
    }
    a:visited {
      color : black;
    }
    a:hover {
      color :#000000;
    }
    a:active {
      color :#FFFFFF;
    }
    .sign_up_field{
     box-sizing: border-box;

     position: absolute;
        width: 455.89px;
        height: 58.05px;
        left: 233px;
    

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color:black;
        font-size: 20px;
    }
    